body {
    padding-top: 5rem;
}

#profile{
    border-radius: 5px;
    border-width: 1px;
    border:solid;
    border-color: white;
    width: 40%;
    height:650px;
    box-shadow: 0 0 0px 1px rgb(234,234,234);
    
}

#profile-top{
    background-color: green;
    height:40%;
    z-index: 1;
    padding-top:5%;
    text-align: center;
    
}

#profile-bottom{
    background-color: white;
     height:50%;
     padding: 30px;
      
}

img {
  border-radius: 55%;
  padding: 2%;
  width: 30%;
}
h2{
    color: white;
}
h3{
    color: white;
    font-size: 13px;
}

#follow
{
    display: inline-block;
    text-align:center;
    padding:50px;
   
}
#but{
    padding:30px;
}

span.a {
  display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}