{% extends "base.html" %}

{% block main %}
<div id="profile">
       
    <div id="profile-top">
<img src="{{ url_for('static', filename='images/Ros.jpg') }}" />

<h2>Roshawn Titus</h2>
<h3>@RTitus</h3>
<h3>Montego Bay, Jamaica</h3>
<h3> {{ now }}</h3>
    </div>
    <div id="profile-bottom">
        I am a programmer in the making, currently studying at the univeristy of the west indies Mona. I am currently in my second year, second semester. Please contact me if you need my assistance in any future projects. 
        <br/>
        <div id="follow"> 
       
    <span class="a"><b>20</b> </span> <span class="a">&emsp;&emsp;<b>20</b>  &emsp;&emsp; </span> <span class="a">&emsp;<b>20</b>  </span> <br/>
     <span class="a">Posts </span> <span class="a">Following  </span> <span class="a">Followers  </span>  
           
      
</div>
        
        </div>
        
        </div>
        
    
</div>
{% endblock %}